<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý giảng viên</title>
    <link rel="icon" href="LOGO_TIMING_MAIN.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/css_style_main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/"><span id="icon_navbar2"></span></a>
        <a href="/userhome"><i class="bi bi-house"></i> Home</a>
        <a href="/manage"><i class="bi bi-clipboard"></i> Công cụ quản lý</a>
        <a href="/exeltool"><i class="bi bi-file-earmark-ruled"></i> Làm việc với Exel</a>
        <div id="user_infor"><a href="#infor"><i class="bi bi-person-circle" style="font-size: 25px;"></i></a></div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="bi bi-three-dots" style="font-size: 25px;"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-sm-8 p-3 text-white" style="overflow: auto;height: 250px;">
            <table class="table_css" id="giang_vien_table">
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Chuyên ngành</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                </tr>
                <% giangvien.forEach(gv=> { %>
                    <tr>
                        <td>
                            <%= gv.id%>
                        </td>
                        <td>
                            <%= gv.hoten %>
                        </td>
                        <td>
                            <%= gv.chuyen_nganh%>
                        </td>
                        <td>
                            <%= gv.sdt_gv%>
                        </td>
                        <td>
                            <%= gv.email_gv%>
                        </td>
                    </tr>
                    <% }); %>
            </table>

        </div>

        <div class="col-sm-4 p-4  bg-dark text-white ">

            <form id="form_gv">
                <fieldset>
                    <legend id="id_gv">Personal information</legend>
                    <label for="id">ID giảng viên:</label>
                    <input type="text" id="id_giangvien" name="id"><br><br>
                    <label for="fname">Họ tên giảng viên:</label>
                    <input type="text" id="htgv" name="fname"><br><br>
                    <label for="lname">Chuyên ngành: </label>
                    <input type="text" id="chnganh" name="lname"><br><br>
                    <label for="email">Số điện thoại:</label>
                    <input type="number" id="sdt" name="sdt"><br><br>
                    <label for="email">email:</label>
                    <input type="email" id="email" name="email"><br><br>
                    <button id="button_update" type="button" onclick="serverdata()">Lưu</button>
                    <button id="button_delete" type="button" onclick="delete_data()">Xoá</button>
                </fieldset>
            </form>
            <div class="form-check form-switch">
                <label for="enableForm">Chế độ chỉnh sửa</label>
                <input type="checkbox" class="form-check-input" role="switch" id="enableForm">
            </div>

        </div>
    </div>
</body>
<script src="/script/navbar_script.js"></script>
<script src="/script/main_script.js"></script>
<script src="/script/funtion.js"></script>

</html>